tr.active {
	color: gray;
}
.form-round-left {
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-right: 0;
}
.navbar-text {
	margin-right: 15px;
	margin-left: 15px;
}
.input-group-btn:first-child {
	width: 50%;
}
@keyframes blink {
	50% { color: transparent; }
}
.status-boarding {
	animation: blink 1s linear infinite;
}
.status-delayed {
	font-weight: bold;
}
.bg-active {
	background-color: #eee;
}
.bg-default {
	border: 1px solid #eee;
}
.label.bg-success, .label.bg-warning, .label.bg-danger, .label.bg-active, .label.bg-default {
	color: black;
	font-weight: normal;
	font-size: inherit;
}

.vehicleInfo {
	float: right;
	margin: -5px 0;
	font-size: 21px;
}
#vehicle-data {
	float: right;
}
.bigger {
	font-size: 21px;
}
.vehicleData {
	display: none;
}

/* Change navbar behavior for low media width */
.navbar-nav {
    float: left;
    margin: 0;
}
.nav > li {
	float: left;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-left {
	float: left !important;
}
.navbar-form {
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Loading animation */
nav.loading {
	background-image: -webkit-linear-gradient(45deg,rgba(0,0,0,.1) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(0,0,0,.1) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(0,0,0,.1) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
nav.loading * {
	color: black !important;
}
