html, body, #map, #header {
	margin: 0;
	padding: 0;
	font: 14px sans-serif;
	overflow: hidden;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	background: #f8f8f8;
	border-bottom: 1px solid #999;
}
#header ul {
	display: table;
	padding: 0;
	margin: 0;
	width: 100%;
}
#header ul li {
	display: table-cell;
	list-style: none;
	white-space: nowrap;
	vertical-align: top;
}
#header ul li:last-child {
	width: 100%;
	white-space: inherit;
	text-align: right;
}
#header ul li > * {
	line-height: 1em;
	display: inline-block;
	padding: 0.5em;
}
#alert {
	margin-left: 5px;
	
	transition: background-color .4s;
}
.error {
	background-color: red;
	color: white;
	font-weight: bold;
}

#map {
	position: absolute;
	top: 29px;
	left: 0;
	right: 0;
	bottom: 0;
}
#map .ol-attribution {
	left: 0;
	right: auto;
	text-align: left;
}

#panel {
	color: black;
	background: white;
	padding: 5px;
	border-left: 1px solid #999;
	font-size: 14px;
	
	position: absolute;
	width: 350px;
	right: -365px;
	top: 29px;
	bottom: 0;
	
	transition: right .4s, width .4s;
	
	opacity: .85;
	
	overflow-y: auto;
}

#panel.show {
	right: 0;
}

@media (max-width: 600px) {
	#panel {
		width: 80%;
		right: -100%;
	}
	
	#panel.show {
		right: 0%;
	}
}

#panel .type {
	padding-bottom: 0;
	color: #444;
	font-size: 80%;
}
#panel p {
	margin: 0;
	padding: 5px;
}
#panel .name {
	font-weight: bold;
}
#panel .vehicleInfo {
	font-size: 21px;
	margin: -4px 0 -5px;
}
#panel table {
	margin-top: 3px;
	border-top: 1px solid gray;
	width: 100%;
	border-collapse: collapse;
}
#panel table th {
	text-align: left;
	border-bottom: 1px solid #999;
	padding-top: 5px;
}
#panel table td {
	vertical-align: top;
}
#panel .active {
	background: #f5f5f5;
	color: gray;
}
#panel .success {
	background: #dff0d8;
}
#panel .warning {
	background: #fcf8e3;
}
#panel .danger {
	background: #f2dede;
}
#panel table .vehicleInfo {
	float: right;
}

#title {
	top: .5em;
	left: .5em;
	padding: 2px .5em;
	font-weight: bold;
	background-color: rgba(255,255,255,.6);
}

.close {
	float: right;
	cursor: pointer;
	font-size: 20px;
	margin: 0;
	padding: 3px;
}

a {
	color: #337ab7;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.small {
	font-size: 80%;
}
